* {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 15px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

input {
    border: 0px;
    padding: 7px;
}

li {
    text-align: left;
}

.commands_table {
    width: auto;
    height: auto;
}

#control {
    text-align: center;
}

.control_table {
    margin: auto;
}

table.commands_table td, th {
    padding: 10px;
}



.container_strip {
    overflow: scroll;
    padding: 20px;
    margin: 10px;
}

.invisible {
    border-color: transparent;
}

.cell {
    width: 30px;
    text-align: center;
    background-color: transparent;
}

.command_input {
    width: 100px;
}

#char_to_add {
    width: 20px;
    padding: 2px;
    text-align: center;
}

#add_char_btn {
    display: block;
    margin: auto;
    margin-top: 5px;
    padding: 6px;
    border-radius: 10%;
}